Python Basics

# Day2

User Input

In [ ]:
name=input("Name: ")
fav_pet=input("You're favourite pet: ")
print("Name :"+name,"You're favourite pet: "+fav_pet,sep='\n')

Name: Paul
You're favourite pet: Dog
Name :Paul
You're favourite pet: Dog

Indexing

In [ ]:
python_love="I love PYTHON"

In [ ]:
python_love[2]

'l'

In [ ]:
python_love[10]

'H'

Reverse Indexing

In [ ]:
python_love[-11]

'l'

In [ ]:
python_love[-10]

'o'

Slicing

To extract the entire word instead of extracting individual characters like in indexing and reverse indexing

To slice a word, we need to mention the start index and the end index+1(since the end index follows exclusivity rule), separated by :

start_i : end_i + 1

We can also "not" mention the start or end index
If start index is not mentioned, Everything right from the beginning till the specified end index gets sliced.
If end index is not mentioned, Everything right from the specified start index till the end of the string gets sliced.

In [ ]:
python_love[7:13]

'PYTHON'

Note : To use Reverse indexing while slicing, we need to provide the stride(step) also(by default stride is +1, in that case there wont be any output)

start_i : end_i + 1 : stride

In [ ]:
python_love[-1:-6:-1]

'NOHTY'

In [ ]:
python_love[-1:-7:-1]

'NOHTYP'

Note : To reverse a string, leave the start and end index as blank and give the stride as -1

In [ ]:
str1 = 'mango'
#required output : ognam
str1[::-1]

'ognam'

In [ ]:
str2="Yay! I enjoy Python basics"
#YAY!
#Iejy
str2[0:4]

'Yay!'

In [ ]:
str2[5:12:2]

'Iejy'

Escape Sequences

\n - newline

In [ ]:
temp = "How are you doing?"
name = "Hi Im Paul"
print(name+'\n'+temp)

Hi Im Paul
How are you doing?

In [ ]:
print('Hi im Paul'+'\n'+'From cmrit')

Hi im Paul
From cmrit

In [ ]:
print("Hi im Paul\nFrom cmrit")

Hi im Paul
From cmrit

In [ ]:
print('''Hi im Paul
From cmrit''')

Hi im Paul
From cmrit

\t - tab

In [ ]:
temp = "How are you doing?"
name = "Hi Im Paul"
print(name+'\t'+temp)

Hi Im Paul	How are you doing?

\b - backspace

In [ ]:
temp = "How are you doing?"
name = "Hi Im Paul"
print(name+'\b'+temp)

Hi Im PaulHow are you doing?

\a - provides an audible or visual alert (not used)

In [ ]:
temp = "How are you doing?"
name = "Hi Im Paul"
print(name+'\a'+temp)

Hi Im PaulHow are you doing?

String formatting

In [ ]:
name = 'Anushka'
score = '95'
#Anushka has scored 95 marks
#< name > has scored < score > marks

In [ ]:
print("%s has scored %s marks." %(name,score))#%s because its a string. This way is more convenient than the usual way

Anushka has scored 95 marks.

In [ ]:
#method 2
print("{} has scored {} marks." .format(name,score))

Anushka has scored 95 marks.

In [ ]:
#method 3 USING f STRING
name = 'Anushka'
score = '95'
#Anushka has score
print(f"{name} has scored {score} marks.")

Anushka has scored 95 marks.

String operations

In [ ]:
#Concatenation
added_string = name+' '+score
added_string

'Anushka 95'

In [ ]:
#Printing multiple times
print("Hello "*3)

Hello Hello Hello

In [ ]:
#Length of the string
name1='pravin'
print(len(name1))

6

In [ ]:
#Upper case
name1.upper()

'PRAVIN'

In [ ]:
name2='STEVEN'
name2.lower()

'steven'

In [ ]:
#QUIZ-
#Predict the output
string11="Python"
print(string11[2])

t

In [ ]:
#QUIZ-
#Predict the output
string11="Python"
print(len(string11[2:5]))

3

In [ ]:
#TASK
#WAP to print the following
#Name, score, address, school name

#Eg; Rahul studies in xyz school. He lives at < address >. He has scored 93 marks in class 10.

name_=input("Enter your name :")
school=input("Enter your school :")
address=input("Enter your address :")
marks_=input("Enter your marks in class 10 :")
print("%s studies in %s. He lives at %s. He has scored %s marks in class 10" %(name_,school,address,marks_))

Enter your name :Paul Alex
Enter your school :CMRIT
Enter your address :AECS layout, Bangalore
Enter your marks in class 10 :89.6
Paul Alex studies in CMRIT. He lives at AECS layout, Bangalore. He has scored 89.6 marks in class 10

# Day3

#Comments

#This is a single line comment

"""
This 
is
a 
multi-line
Comment

y=7
print(y)
"""

x=5
print(x)

#Note: Multi-line comments might not work well on Jupyter. Things work a little bit different on Jupyter. It accepts it as a multiline comment, but the way it prints it will be different. It 
directly prints everything on the console(output)

In [ ]:
#Sample Greeting Message
print ("*"*5+ 'Welcome to YAY!' + '*'*5)
yourName=input("Enter your Name: ")
yourLang = input("Enter the Language you want to learn: ")

#Method 1
print(f"Good Evening {yourName}! \nDon't worry, {yourLang} is a Super Easy Language to Learn! \nWe'll all do it together! \t Bye!" )

*****Welcome to YAY!*****
Enter your Name: Paul Alex
Enter the Language you want to learn: Python
Good Evening Paul Alex!
Don't worry, Python is a Super Easy Language to Learn!
We'll all do it together! 	 Bye!

In [ ]:
#Method 2
print(f'''Good Evening {yourName}!
Don't worry, {yourLang} is a Super Easy Language to Learn!
We'll all do it together! \t Bye!''')

Good Evening Paul Alex!
Don't worry, Python is a Super Easy Language to Learn!
We'll all do it together! 	 Bye!

In [ ]:
#Note:If you assign a multiline comment to a variable, it becomes a :multiline" string
y='''My
Name
is 
Paul'''
print(y)

My
Name
is
Paul

Python Conditional (Comparison)
Equals a==b
Not Equals: a!=b
Less than: a<b
Less than or equal to: a<=b
Greater than: a>b
Greater than or equal to: a>=b
Note: Conditionals produce a boolean output

In [ ]:
x=7
y=8
z=7
#conditionals
print(x==y)
print(x==z)
print(x!=y )
print(x!=z)
print(x<=y)
print(y<=x)
print(x>y)

False
True
True
False
True
False
False

In [ ]:
#HandsOn exercise 1
Is_Good_Customer = input("Is Good Customer? : ")
customerAge=int(input("What is his/her Age : "))

price = 1000
discount=0

if Is_Good_Customer=='Yes':
    if customerAge<18:
        discount=price*0.50
    elif customerAge >=65:
        discount = price*0.4
    else:
        discount=price*0.3
else:
    if customerAge<18:
        discount=price*0.20
    elif customerAge >=65:
        discount = price*0.1
    else:
        discount = 0
bill=price-discount
str(bill)
        
print("The Customer will pay %s" %(bill))

Is Good Customer? : iu
What is his/her Age : 21
The Customer will pay 1000

In [ ]:
#HandsOn exercise 2
cgpa=float(input("Enter your cgpa: "))
criminal_record=input("Do you have any criminal record? ")#Yes or No
if cgpa >=9.0 and criminal_record=='No':
    print("You're eligible for admission!!!")
else:
        print("You're ineligible for admission!!!")

Enter your cgpa: 9.6
Do you have any criminal record? No
You're eligible for admission!!!

In [ ]:
#in 
print(8 in [2,3,4,5])

False

In [ ]:
x="Hello"
if x in "Hello World":
    print("Yes")
else:
    pass# It will just continue the flow of program without any statement. 

print("Program Execution Completed")

Yes
Program Execution Completed

In [ ]:
#for loop
x=[1,2,3,4,5,6]
for i in x:
    print(i)

1
2
3
4
5
6

In [ ]:
for i in range(len(x)+1):
    print(i)

0
1
2
3
4
5
6

In [ ]:
#Lists
#Multi Dimensional List, Similar to matrices
x=[
  [1,2,3],
  [4,5,6],
  [7,8,9]]
print(x[0][2])

3

In [ ]:
List = [1,2,3,4,5]
print(List*3)
print(List[2])
print(List[10])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
3

IndexError: list index out of range

# Day4

In [ ]:
#List operations

x = [1,2,3,4,5]

for i in range(len(x)): #[0-4]
    print(f'x[{i}] => {x[i]}')

x[0] => 1
x[1] => 2
x[2] => 3
x[3] => 4
x[4] => 5

In [ ]:
x = [5,4,3,2,1]
for i in range(len(x)):
    print(f"x[{i}] => {x[i]}")

x[0] => 5
x[1] => 4
x[2] => 3
x[3] => 2
x[4] => 1

In [ ]:
#Why can't we just iterate across the list instead of using range.
#We will get an error because i has the value, not the index. So when we reach the last position( i.e x[5]),it goes out of bounds
x = [1,2,3,4,5]
for i in x:
    print(f"x[{i}] => {x[i]}")

x[1] => 2
x[2] => 3
x[3] => 4
x[4] => 5

IndexError: list index out of range

In [ ]:
x=['Paul',21,True,6+8j]
for i in x:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'complex'>

In [ ]:
#operations
#Sum
x=[1,2,3,4]
print(sum(x))

#pop
#last element gets popped
out_element=x.pop()
print(out_element)

#if there are multiple occurences of the same element in the list, the first occurence gets popped
x1=[1,2,3,4,7,8,4,4,4,4,4,5]
x1.remove(4)
print(x1)

10
4
[1, 2, 3, 7, 8, 4, 4, 4, 4, 4, 5]

In [ ]:
#Finding product of all elements
import numpy
x=[1,2,3,4]
print(numpy.prod(x))

24

In [ ]:
#Finding product of all elements (python 3.8 onwards)
import math
a=[1,2,3,4]
print(math.prod(a))

Math library in python(refer this for more details)

https://docs.python.org/3/library/math.html

In [ ]:
#mutability of lists
x=[1,2,3,4,5]
y=list(x) 
y[3]=99
print(x)
print(y)

[1, 2, 3, 4, 5]
[1, 2, 3, 99, 5]

In [ ]:
#enumerate() is used to give the index and the value
x=[1,2,3,4,5] 
for i,j in enumerate(x):#i gives the index and j gives the value
            print(i,j)

0 1
1 2
2 3
3 4
4 5

In [ ]:
#enumerate() is used to give the index and the value
#Finding the position of a particular element
x=[20,10,8,99,5]
for i,j in enumerate(x):#i gives the index and j gives the value
    if j==99:
        print(i)
        break

3

In [ ]:
#Ascending/descending order
#sort function is inline(meaning it changes the value of the variable itself)
x=[20,10,8,99,5]
x.sort(reverse = True)#reverse=true means descending
print(x)

print("\n")

x=[20,10,8,99,5]
x.sort(reverse = False)#reverse=false means ascending
print(x)

[99, 20, 10, 8, 5]


[5, 8, 10, 20, 99]

In [ ]:
#using sorted ()
#sorted function is not inline(meaning it doesn't change the value of the variable itself)
y=sorted(x)
print(y)

#for descending order
y=sorted(x,reverse=True)
print(y)

[5, 8, 10, 20, 99]
[99, 20, 10, 8, 5]

In [ ]:
#Note: Sort function is inline(meaning it modifies the original data). Sorted function is not inline. It just creates a copy without modifying the original data.
x=[20,10,8,99,5]
x.sort()
print(x)

print('\n')

x=[20,10,8,99,5]
sorted(x)
print(x)#here we are not getting a sorted output, since the original data isn't modified. To get the sorted output, we need to type the function in the print statement, or we need to assign the function to a variable and then print the variable.

print('\n')

x=[20,10,8,99,5]
print(sorted(x))
#or
a=sorted(x)
print(a)

[5, 8, 10, 20, 99]


[20, 10, 8, 99, 5]


[5, 8, 10, 20, 99]
[5, 8, 10, 20, 99]

In [ ]:
#Reversing a list 
#1)using reverse() function(it is inline)
x=[20,10,8,99,5]

x.reverse()

print(x)

print("\n")

#2)using slicing (not inline)
x=[20,10,8,99,5]
print(x[::-1])

[5, 99, 8, 10, 20]


[5, 99, 8, 10, 20]

In [ ]:
#Multiply 2 with every element
x=[20,10,8,99,5]
for i in x:
    x.append(i*2)
    print(x)

In [ ]:
#Multiply 2 with every element using list comprehension
x=[20,10,8,99,5]
x=[i*2 for i in x]
print(x)

[40, 20, 16, 198, 10]

del x will deallocate the memory assigned to the list x

In [ ]:
#locals() is used to chk whether a particular variable is present

y=9
print(locals())

y=10
print(locals())

In [ ]:
#COMBINING TWO LISTS
x=[1,2]
y=[3,4]
x.extend(y)
print(x)

[1, 2, 3, 4]

In [ ]:
#OR
x=[1,2]
y=[3,4]
x=x+y
print(x)

[1, 2, 3, 4]

In [ ]:
#Concatenating list items(strings)
#join is applicable to strings
list_of_strings = ["Rahul","YAY","Python"]
print(''.join(list_of_strings))
#Where '' is a separator

RahulYAYPython

In [ ]:
list_of_strings = ["Rahul","YAY","Python"]
print('-'.join(list_of_strings))
#Where '' is a separator

Rahul-YAY-Python

In [ ]:
#Mutability of Lists

x=[1,2,3,4,5]
print(x)
x[2]=99
print(x)

[1, 2, 3, 4, 5]
[1, 2, 99, 4, 5]

In [ ]:
#TUPLES
#There are two methods of using tuples

x=tuple([1,2,3,4,5])
y=(1,2,3)
a=type(x)
b=type(y)
print(a,b)

#Tuples are immutable

<class 'tuple'> <class 'tuple'>

In [ ]:
#All functionalities are similar to lists except any functionality that alters the data

In [ ]:
#SET
#SET is a very very important data structure (data science,machine learning, finance,etc)
x = [1,2,2,3,4,5,1,1,1,1,12,3,4,3,4,3,2]
print(set(x))
#set removes duplicates. Prints only unique elements

{1, 2, 3, 4, 5, 12}

In [ ]:
#SET(tried this on my own)
#SET is a very very important data structure (data science,machine learning, finance,etc)
x = {1,2,2,3,4,5,1,1,1,1,12,3,4,3,4,3,2}
print(type(x))
print(x)
#set removes duplicates. Prints only unique elements

<class 'set'>
{1, 2, 3, 4, 5, 12}

In [ ]:
x=[9,9,9,1,2,1,4,9,2,4,3,4,3,2,5,3,4,6]
y=set(x)# When you assign a set to a variable, it will always sort in "ascending" order
print(x)#list
print(set(x))
print(y)

[9, 9, 9, 1, 2, 1, 4, 9, 2, 4, 3, 4, 3, 2, 5, 3, 4, 6]
{1, 2, 3, 4, 5, 6, 9}
{1, 2, 3, 4, 5, 6, 9}

In [ ]:
#Used to add elements to a list
#removes duplicates, adds an element only if its unique, sorts in ascending order
x=[9,9,9,1,2,1,4,9,2,4,3,4,3,2,5,3,4,6]
y=set(x)#set(x) is not inline
y.add(7)
print(x)#list
print(set(x))
print(y)

[9, 9, 9, 1, 2, 1, 4, 9, 2, 4, 3, 4, 3, 2, 5, 3, 4, 6]
{1, 2, 3, 4, 5, 6, 9}
{1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
x=[9,9,9,1,2,1,4,9,2,4,3,4,3,2,5,3,4,6] #(tried this on my own, not verified)
set(x)#set(x) is not inline so we don't get a set
print(x)

[9, 9, 9, 1, 2, 1, 4, 9, 2, 4, 3, 4, 3, 2, 5, 3, 4, 6]

In [ ]:
#SORTING A SET 
#(tried this on my own, not verified)
x = {12,1,88,2,3,9,8,5}
print(sorted(x))

print('\n')

print(sorted(x,reverse = True))#Descending order
#sorted() is found to work, sort() isn't working with sets

#NOTE that we are getting a list when we sort a set using sorted()

[1, 2, 3, 5, 8, 9, 12, 88]


[88, 12, 9, 8, 5, 3, 2, 1]

In [ ]:
#Adding TWO Lists

x=[9,9,9,1,2,1,4,9,2,4,3,4,3,2,5,3,4,6]
z=[6,7,8]
y=set(x)
y.update(z)
print(x)#list
print(set(x))
print(y)

[9, 9, 9, 1, 2, 1, 4, 9, 2, 4, 3, 4, 3, 2, 5, 3, 4, 6]
{1, 2, 3, 4, 5, 6, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

SETS are faster than LISTS in case of any programming language

Complexity

SETS : O(1)
LISTS : O(n)

In [ ]:
x=[9,9,9,1,2,1,4,9,2,4,3,4,3,2,5,3,4,6]
z=[6,7,8]
y=set(x)
print(y)
y.pop()

print(y)

{1, 2, 3, 4, 5, 6, 9}
{2, 3, 4, 5, 6, 9}

Note :In case of sets, first element gets popped and in case of LISTS, last element gets popped.

In [ ]:
#finding common elements (intersection)

employees = set(["Rahul", "Rony", "Bhuvan"])
gym_members = set(["Sona", "Chandni", "Kapil", "Rahul"])
developers = set(["Rahul","Vim","Sona"])

#Intersection
result=employees & developers & gym_members #Quickest method
print(result)

#or

result=employees.intersection(developers,gym_members)
print(result)

{'Rahul'}
{'Rahul'}

In [ ]:
#finding Union
#note: duplicates are omitted
employees = set(["Rahul", "Rony", "Bhuvan"])
gym_members = set(["Sona", "Chandni", "Kapil", "Rahul"])
developers = set(["Rahul","Vim","Sona"])

#Intersection
result=employees | developers | gym_members #Quickest method
print(result)

#or

result=employees.union(developers,gym_members)
print(result)

{'Rony', 'Chandni', 'Kapil', 'Sona', 'Bhuvan', 'Rahul', 'Vim'}
{'Rony', 'Chandni', 'Kapil', 'Sona', 'Bhuvan', 'Rahul', 'Vim'}

In [ ]:
#finding difference

employees = set(["Rahul", "Rony", "Bhuvan"])
gym_members = set(["Sona", "Chandni", "Kapil", "Rahul"])
developers = set(["Rahul","Vim","Sona"])

#Intersection
result=employees - developers#Quickest method
print(result)

#or

result=employees.difference(developers)
print(result)

{'Rony', 'Bhuvan'}
{'Rony', 'Bhuvan'}

In [ ]:
#finding difference part2

employees = set(["Rahul", "Rony", "Bhuvan"])
gym_members = set(["Sona", "Chandni", "Kapil", "Rahul"])
developers = set(["Rahul","Vim","Sona"])

#Intersection
result=developers-employees-gym_members#Quickest method
print(result)

#or

#result=employees.difference(developers)
#print(result)

{'Vim'}

In [ ]:
#Symmetric difference gives the uncommon elements
employees = set(["Rahul", "Rony", "Bhuvan"])
gym_members = set(["Sona", "Chandni", "Kapil", "Rahul"])
developers = set(["Rahul","Vim","Sona"])
result= developers^employees^gym_members
print(result)

result=developers.symmetric_difference(employees)
# note:symmetric_difference() function takes exactly one argument, using operators we can do three arguments
print(result)

{'Rony', 'Chandni', 'Kapil', 'Bhuvan', 'Rahul', 'Vim'}
{'Rony', 'Sona', 'Bhuvan', 'Vim'}

In [ ]:
#superset and subset

set_1 = {1,2,3,4,5,6,7,8,9,10,1,1,1,11,1}
set_2 = {2,3,4}
print(set_2 <=set_1)#Checking if set_1 is a superset of set_2 i.e if set_2 is a subset of set_1
print(set_2 >=set_1)#Checking if set_2 is a superset of set_1 i.e if set_1 is a subset of set_2

# <= means subset
# >= means superset

True
False

In [ ]:
#dictionary

mySubjects = {
    'English' : 99,
    'Physics' : 95,
    'Maths' : 90
}
print(mySubjects)
print(mySubjects['English'])
print(mySubjects['Physics'])
#Suppose the element we try to access is not present in the dictionary, we get an error. See below
print(mySubjects['Chemistry'])

{'English': 99, 'Physics': 95, 'Maths': 90}
99
95

KeyError: 'Chemistry'

In [ ]:
#To mitigate this issue, we use the get() method in which we can also give custom messages
print(mySubjects.get('Chemistry'))

None

In [ ]:
#Giving custom messages
print(mySubjects.get('Chemistry','Not present'))

Not present

In [ ]:
x=[1,2,3,4,4,1,1,2]
counter = {}#dict
for i in x:
    counter[i]=0
for i in x:
    counter[i]+=1
    
print(counter)

{1: 3, 2: 2, 3: 1, 4: 2}

In [ ]:
mySubjects = {
    'English' : 99,
    'Physics' : 95,
    'Maths' : 90,
    'aaaa':30
}
for i,j in mySubjects.items():
    print(i,j)
    if j<=35:
        print(i)

English 99
Physics 95
Maths 90
aaaa 30
aaaa

In [ ]:
#printing the keys
print(mySubjects.keys())
#printing the values
print(mySubjects.values())

dict_keys(['English', 'Physics', 'Maths', 'aaaa'])
dict_values([99, 95, 90, 30])

Keys should be unique. If keys are repeated, we will get the latest value of that particular key in the output

In [ ]:
mySubjects = {
    'English' : 99,
    'Physics' : 95,
    'Maths' : 90,
    'Physics':85
}
for i,j in mySubjects.items():
    print(i,j)

English 99
Physics 85
Maths 90

Since the key "Physics" is repeated in the above example, we are getting the latest value of "Physics" that is 85 and not 95

In [ ]:
#We can change the value associated with a key, but we cannot change the keys
mySubjects = {
    'English' : 99,
    'Physics' : 95,
    'Maths' : 90,
    'Physics':85
}
mySubjects['English']=100
print(mySubjects['English'])

100

In [ ]:
#We can also append a new key: value pair to the dictionary
mySubjects = {
    'English' : 99,
    'Physics' : 95,
    'Maths' : 90
}
mySubjects['Science']=97
for i,j in mySubjects.items():
    print(i,j)

English 99
Physics 95
Maths 90
Science 97

In [ ]:
#Updating values
mySubjects = {
    'English' : 99,
    'Physics' : 95,
    'Maths' : 90,
    'Science' : 100
}
mySubjects.update({'Science':97})
print(mySubjects)

{'English': 99, 'Physics': 95, 'Maths': 90, 'Science': 97}

In [ ]:
#Updating values(faster method)
mySubjects = {
    'English' : 99,
    'Physics' : 95,
    'Maths' : 90,
    'Science' : 100
}
mySubjects['Science']=97
print(mySubjects)

#note : operators are always faster than functions

{'English': 99, 'Physics': 95, 'Maths': 90, 'Science': 97}

In [ ]:
#Deleting elements from a dictionary
mySubjects = {
    'English' : 99,
    'Physics' : 95,
    'Maths' : 90,
    'Science' : 100
}
marks=mySubjects.pop('Science')
print(marks)
print(mySubjects)

100
{'English': 99, 'Physics': 95, 'Maths': 90}

In [ ]:
mySubjects = {
    'English' : 99,
    'Physics' : 95,
    'Maths' : 90,
    'Science' : 100
}
print(mySubjects.items())#returns the items as a tuple

dict_items([('English', 99), ('Physics', 95), ('Maths', 90), ('Science', 100)])

In [ ]:
#Nested Dictionary
#JSON

officeInfo = {
    'Boss' : {
        'Name' : "Elon Musk",
        'Occupation' : 'CEO',
        'Age' : 50
    },
    'Employee' : {
        'Name' : "Paul",
        'Info' : ['My name', 'OK', 'Dokie']
    }
}
print(officeInfo['Employee']['Info'])

['My name', 'OK', 'Dokie']

In [ ]:
#Dictionary (Hash map in Java)
#key:value
mydictionary={}
mydictionary['Paul']='92'
mydictionary['Jay']='90'
mydictionary

{'Paul': '92', 'Jay': '90'}

In [ ]:
mydictionary['Jay']

'90'

In [ ]:
mydictionary['Paul']

'92'

In [ ]:
mydictionary.keys()

dict_keys(['Paul', 'Jay'])

In [ ]:
mydictionary.values()

dict_values(['92', '90'])

# Day5

Continuing string functions from Day 2

In [ ]:
#Count()
#Note: Works only on strings
s2='nine nine one nine two three'
s1='nine'
s2.count(s1)

3

In [ ]:
s2.count('i')#Single letters

3

In [ ]:
s2.count('e')#Single letters

6

In [ ]:
#find()
#returns only the starting index
#Find the first occurrence of string S1 in string S2
s2='nine nine one nine two three'
s1='nine'
s2.find('one')

10

In [ ]:
#If the string is not present in the given string, this function returns -1
s2.find('ten')

-1

In [ ]:
#Always returns only the beginning index of the first occurrence of the string
s2.find('nine')

0

In [ ]:
s2.find('nine',3)# if we give an index also, it starts searching from the particular index(including)

5

In [ ]:
s2.find('nine',10)

14

#replace()
#Replace all occurrences of string s1 with a string s2 in a string s
#But it is not an inplace replacement, meaning it creates a copy of the string and does the replacement
in that string. 
The original string remains unaltered

To replace the original string, assign it to the same variable

In [ ]:
s='YAY! I love Python'
s.replace('YAY',"Hurray")#To replace YAY with Hurray. Note this isn't inplace

'Hurray! I love Python'

In [ ]:
print(s)#Note this isn't inplace and the original string remains unaltered

YAY! I love Python

In [ ]:
#To replace the original string, assign it to the same variable
s='YAY! I love Python'
s=s.replace('YAY',"Hurray")
print(s)

Hurray! I love Python

In [ ]:
#Immutability of Strings
#If we try to do the previous replacement by slicing, we get an error. See below
#Eg 1
s='YAY! I love Python'
s[0:3]='Hurray'

TypeError: 'str' object does not support item assignment

In [ ]:
#Eg 2
#Mutability of lists
nums=[1,2,3,4,5]
nums[0]=6
nums

[6, 2, 3, 4, 5]

In [ ]:
s='one two three'
s.replace('two','seven')

'one seven three'

In [ ]:
s[0:4]+"seven"+s[7:]

'one seven three'

In [ ]:
s.replace('two','three',4)

'one three three'

In [ ]:
#Hands on Exercise(ONLY STRING FUNCTIONS)
s='Royal Challengers Bangalore 2020'
#Replace '2020' with 'in IPL 2020'
s=s.replace('2020','in IPL 2020')
print(s)

Royal Challengers Bangalore in IPL 2020

In [ ]:
#Convert to uppercase
s=s.upper()
print(s)

ROYAL CHALLENGERS BANGALORE IN IPL 2020

In [ ]:
#count the number of vowels
c=0
for i in s:
    if(i=='A' or i=='E' or  i=='I' or  i=='O' or  i=='U'):#ORif(i=='AEIOU'):
        c=c+1
print(c)

11

In [ ]:
#OR
#Using only

In [ ]:
#Find the index of 'IPL'
s.find('IPL')

31

In [ ]:
#Find the index of the second occurrence of 'A'
s.find('A',4)

8

In [ ]:
#Replace all spaces with '-'
s.replace(' ','-')

'ROYAL-CHALLENGERS-BANGALORE-IN-IPL-2020'

In [ ]:
#Return the output of isalpha(), isdigit(), isalnum()
print(s.isalpha())
print(s.isdigit())
print(s.isalnum())

False
False
False

In [ ]:
s='ROYALCHALLENGERSBANGALOREINIPL2020'
print(s.isalnum())#space is a special character hence we got false in the previous case
s='ROYAL-CHALLENGERS-BANGALORE-IN-IPL-2020'
print(s.isalnum())

True
False

ITERATION or LOOPING

for LOOP

Syntax : for < variable or element > in < iterable > :

iterable= anything we can iterate on

In [ ]:
#For Loop : String

string1='Paul Alex'
for character in string1:
    print(character)

P
a
u
l

A
l
e
x

In [ ]:
#For Loop : String
#count the number of digits
string1='Paul Alex1233'
c=0
for character in string1:
    if character.isdigit():
        c=c+1
print(c)

4

In [ ]:
#count the number of digits
#Just using count()

c=0
for number in range(0,10):#range creates a list 
    c+=string1.count(str(number))
print(c)

4

In [ ]:
#For Loop : Lists
myshoppinglist=['Burger','Pizza','Pepsi']
for i in myshoppinglist:
    print(i)

Burger
Pizza
Pepsi

In [ ]:
#print marks greater than or equal to 75
markslist=[47,92,97,56,66,63]
for m in markslist:
    if m>=75:
        print(m)

92
97

In [ ]:
#printing 1-20
for r in range(10,20+1):#Ending index is exclusive so we add+1 to get 20
    print(r)

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#printing even nos 1-20
for r in range(0,20+1,2):#Ending index is exclusive so we add+1 to get 20
    print(r)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
#printing 1-10 in reverse
for r in range(10,0,-1):#Ending index is exclusive so we add+1 to get 20
    print(r)

10
9
8
7
6
5
4
3
2
1

In [ ]:
Nums=[1,5,1,7,9]
#Calculate the sum
sum(nums)

20

In [ ]:
#raise each number to the power of 2
raised_nums=list()
for n in nums:
    raised_nums.append(number**2)
raised_nums

[81, 81, 81, 81, 81]

In [ ]:
#Hands on exercise 2
#1
nums=[32,-55,21,103,-17,-2,0,3]
p=0
n=0
z=0
for i in nums:
    if i > 0:
        p=p+1
    elif i < 0:
        n=n+1
    else:
        z=z+1
print("positive : "+str(p))
print("negative : "+str(n))
print("zero : "+str(z))

positive : 4
negative : 3
zero : 1

In [ ]:
#2
priceOfitems=[40,100,25,20,15,35]
qtyOfitems=[4,2,4,3,4,2]

total=0
for i in range(0,len(priceOfitems)):
    print(i+1,priceOfitems[i],qtyOfitems[i],priceOfitems[i]*qtyOfitems[i])
    total+=priceOfitems[i]*qtyOfitems[i]
total

1 40 4 160
2 100 2 200
3 25 4 100
4 20 3 60
5 15 4 60
6 35 2 70

650

In [ ]:
#While Loop
#Syntax : while < condition >
#          Task
#        Updation

In [ ]:
i=1
total=0
while total<50:
    print(i)
    i=i+1
    total=total+i

1
2
3
4
5
6
7
8
9

Initialise a list called mylist as an empty list, i.e., muList=[]. Take input from the user continuously, until the user enters a negative number.
for eg:
User Input: 4  myList=[4]
User Input: 10  myList=[4,10]
User Input: 1  myList=[4,10,1]
User Input: -7  Exits while loop

Final myList=[4,10,1]

In [ ]:
li=[]
while 1:
    a=int(input())
    if a >=0:
        li.append(a)
        print(li)
    else:
        break
print("Final myList = "+str(li))

4
[4]
10
[4, 10]
1
[4, 10, 1]
-7
Final myList = [4, 10, 1]

# Day 6

In [ ]:
numbers = {'one':1,'Two':2,'Three':3,'Four':9}
print(f'Before:{numbers}')
for i in numbers:
    if i=='Four':
        numbers[i]=4
print(f'After : {numbers}')

Before:{'one': 1, 'Two': 2, 'Three': 3, 'Four': 9}
After : {'one': 1, 'Two': 2, 'Three': 3, 'Four': 4}

In [ ]:
numbers = {'a':1,'b':101,'c':-1,'d':5,'e':9999}
print(f'Before:{numbers}')
for i in numbers:
    if (numbers[i]<=1)|(numbers[i]>=100):
        numbers[i]=0
print(f'After : {numbers}')

Before:{'a': 1, 'b': 101, 'c': -1, 'd': 5, 'e': 9999}
After : {'a': 0, 'b': 0, 'c': 0, 'd': 5, 'e': 0}

In [ ]:
#HandsOn
#1Get the Key corresponding to the minimum value from the following dictionary:
sampleDict ={
    'Physics':91,
    'Maths':82,
    'History':63
}
sampleDict.keys()

dict_keys(['Physics', 'Maths', 'History'])

In [ ]:
min_marks=10000
key_i=None
for i in sampleDict:
    if sampleDict[i]<min_marks:
        min_marks=sampleDict[i]
        key_i=i
print(f'Method 1 : {key_i}')
print(f'Method 2 : {min(sampleDict, key=sampleDict.get)}')
#if we use just min(sampleDict), it will return the minimum "Key" according to alphabetical order

Method 1 : History
Method 2 : History

In [ ]:
#2. Given a dictionary, change "Brad's" Salary to 8500:
sampleDict={
    'emp1': {'name': 'John','salary': 7500},
    'emp2': {'name': 'Emma','salary': 8000},
    'emp3': {'name': 'Brad','salary': 6500},
}
sampleDict['emp3']['salary']=8500
print(sampleDict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

difference between == and is

"==" checks for equality[equivalency operator]
"is" checks for identity

In [ ]:
'pepsi'=='pepsi'#[True]

True

In [ ]:
'pepsi'=='7up'#[False]

False

In [ ]:
a='pepsi'
b='pepsi'
a is b#[False]
#is checks for the memory address(memory location), hence we get false. We get true onle if memory addresss is same

In [ ]:
l1=[1,2,3,4,5]
l2=[1,2,3,4,5]
print(l1==l2)
print(l1 is l2)

True
False

In [ ]:
l1=[1,2,3,4,5]
l2=l1
l3=l1.copy()#address will be different for l3
print(id(l1),id(l2),id(l3))#memory address
print(l1==l2)
print(l1==l3)#contents are same, hence true (== doesn't check for address)
print(l1 is l2)#contents are same, memory address is also same, hence true 
print(l1 is l3)#contents are same, memory address is different, hence false

2832726869320 2832726869320 2832726939272
True
True
True
False

Functions

#function naming
#cases
myIdentifier : Camel Case

MyIdentifier : Pascal Case

my_identifier : Snake Case(Common in Python)

my-identifier : Kebab Case

myidentifier : Flat Case

MY_IDENTIFIER : Upper Case

In [ ]:
## A function performs a task or returns a value
## Is is a reusable group of code(s)
## Functions help us to keep our code 'Dry'.[Don't REPEAT the same things you've already done]


#demonstrating the advantage of function
print('Good Morning!')
print('Good Morning!')
print('Good Morning!')
print('Good Morning!')
print('Good Morning!')
#here to make a change, we need to make the change in each print statement

Good Morning!
Good Morning!
Good Morning!
Good Morning!
Good Morning!

In [ ]:
def greeting():
    print('Good Morning')
greeting()
greeting()
greeting()
greeting()
greeting()
#here to make a change, we need to make the change only once and we can just call it multiple times

Good Morning
Good Morning
Good Morning
Good Morning
Good Morning

Syntax

def < function name >(arguments):

In [ ]:
#Explaining scope 
def greeting():
    print('Good morning')
    print('HeHe')
    
print('Hai')

Hai

In [ ]:
greeting()

Good morning
HeHe

In [ ]:
#returning
def greeting():
    return'Good morning'
x=greeting()
print(x)

Good morning

In [ ]:
#returning2

def greeting():
    y=7
    print(locals()['y'])
    return f'Good morning,{y}'
x=greeting()
print(x)
print(locals().get('y','NA'))#We're getting NA because y is localised to the function where its defined
#print(y)#Will cause an error, because of scope

7
Good morning,7
NA

In [ ]:
#returning2
y=7
def greeting():
    global y
    y=8
    return f'Good morning,{y}'
print(y)
print(greeting())
print(locals().get('y','NA'))#Here we're getting the value of y and not "NA", since y is global

7
Good morning,8
8

In [ ]:
#A trick in dictionary
x={1:2,3:4,5:6}
y={7:8,9:10,11:12}
z={**x,**y}
print(z)

{1: 2, 3: 4, 5: 6, 7: 8, 9: 10, 11: 12}

In [ ]:
#keyword arguments
def greetings(name):
    return f'Hi, Good Morning {name}!'
print(greetings('Rajib'))
#greetings(' Rajib') is called function call

Hi, Good Morning Rajib!

In [ ]:
def greetings(name='Rahul'):#giving default arguments.
    
    return f'Hi, Good Morning {name}!'
print(greetings())

Hi, Good Morning Rahul!

In [ ]:
def greetings(name, title):
    return f'Hi, Good Morning {name} {title}!'
print(greetings('Paul', 'Student'))

Hi, Good Morning Paul Student!

#Note : If you're giving default value for a paticular argument, the following arguments should also be given default values, or else we'll get an error. See below

In [ ]:
def greetings(name, title='Student', age):
    return f'Hi, Good Morning {name} {title} {age}!'
print(greetings('Paul', 'Student', 21))

SyntaxError: non-default argument follows default argument (<ipython-input-61-c30ee10dd7e2>, line 1)

In [ ]:
def greetings(name, title='Student', age=21):
    return f'Hi, Good Morning {name} {title} {age}!'
print(greetings('Paul', 'Student', 21))

Hi, Good Morning Paul Student 21!

In [ ]:
#Passing multiple values, what if we swap the values while passing to the function
def printSomething(name, title, age):

In [ ]:
#Kwargs is used to pass multiple

#WAP with function fizz_buzz where there'll be a singlr argument[Number]
Rules for output:
1. If the number is divisible by 3 : print out 'Fizz' 3,6,9
2. If the number is divisible by 5 : print out 'buzz'5,15,20
3. If the number is divisible by both 5 and 3 : print out 'FizzBuzz' 15,30 etc
4. If none is satisfied, print the number itself

In [ ]:
def fizz_buzz(n):
    if n%3==0 and n%5==0:
        print('FizzBuzz')
    elif n%3==0:
        print('Fizz')
    elif n%5==0:
        print('Buzz')
    else:
        print(n)
if __name__=='__main__':#main method
    n=int(input())
    fizz_buzz(n)

15
FizzBuzz

In [ ]:
#WAP to find the days of a month using function which will take in two arguments : year, month number
#number of days per month
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]#indexing starts from 0 in python, so if we give 0, while indexing 1,we can index january, otherwise while indexing 1 we'll get february. So for convenience, we start with 0 

#check for leapyear
def isLeapYear(year):
    return year%4==0 and (year%100!=0 or year % 400 ==0)

#check for days in a month
def daysInAMonth(year, month):
    
    if month not in range(1,13):
        return "Invalid Month"
    if month==2 and isLeapYear(year):
        return 29
    
    return month_days[month]

#main method
if __name__=='__main__':#main method
    print(daysInAMonth(2019, 10))

31

In [ ]:
#Extra knowledge
from sys import getsizeof
a=100000000
print(getsizeof(a))#size allocated for a variable in memory[in bytes]

28

In [ ]:
#Definitions

Iterator: An iterator is an object representing a stream of data.
It returns the data one element at a time

Iterable: In Python, Iterable is anything you can loop over with a for loop. eg: List, Strings, Dictionaries, etc

An object is called an iterable if you can get an iterator out of it

Calling iter() function on an iterable gives us an iterator

Calling next() function on iterator gives us the next element

# DAY 7

Agenda

1) Iterators and Iterables

2) Day 6 homework solutions(soln is in DAY6 part along with the questions)

3) Lambda, Map, Filter, Zip

4) Problems on the above

In [ ]:
#iterators and iterables

x=[1,2,3,4,5]#x is an iterable

y=iter(x) #y is an iterator

next(y)
next(y)
z=tuple(y)#we are just getting a tuple from an iterator with iterable x
#when using iterable, memory allocation for each of the variable is done in the beginning, each variable 1,2,3,4,5 is occupying a particular memory location

#when we use next(y) memory will be allocated then and there for the first element

y=x.__iter__()# x is a class, this is a methode wrt the class
y.__next__()

In [ ]:
x=[1,2,3,4,5]#iterable
print(iter(x))#or x.__iter__()
y=x.__iter__() #iterator
print(dir(y)) 

print(next(y))
print(next(y))

<list_iterator object at 0x0000022B8244F408>
['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__length_hint__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__']
1
2

In [ ]:
#Learn more about this module called itertools

Lambda Functions

1) No name functions

2) Anonymous, single-use or throw away functions

3) One-Line Function(inline function)

4) They don't use def or return keywords. They're Implicit

5) Main motive: Make it short,simple and easy to implement

Syntax : Lambda arguments : expressions

In [ ]:
#eg
#adding 5
add5=lambda x : x+5
print(add5(7))

12

In [ ]:
#eg
#squaring
square = lambda s : s**2
print(square(5))

25

In [ ]:
#eg
#get_tens to get the digit in the tens place
get_tens = lambda p: int(p/10)%10
print(get_tens(742))
print(get_tens(832.52))

4
3

In [ ]:
#normal function
def sum(x,y):
    return(x+y)

print(sum(5,7))

12

In [ ]:
#lambda Function
c=lambda x,y:x+y
print(c(5,7))

12

In [ ]:
#normal function
def max_two(x,y):
    if x>y:
        return x
    else:
        return y
print(max_two(7,8))

8

In [ ]:
max_two_lambda=lambda x,y : x if x>y else y
print(max_two_lambda(7,8))

8

#python map function
1) Applies same function to each element of a Sequence
2) Returns the modified Data Structure

def : Applies a given function to all the iterables and returns a new list. (or DataType)
    
Syntax : map(function, iterables)

In [ ]:
#List, [m,n,p]--->[Map]--->New List [f(m),f(n),f(p)]
#Function, f() (Black box)
#consider map function as a black box i.e we don't know how it works, but we know what it does

In [ ]:
x=[1,2,3,4,5]
def new_list(list_1):
    y=[]
    for i in list_1:
        y.append(i**2)
    return y
new_list(x)

[1, 4, 9, 16, 25]

In [ ]:
print(list(map(lambda i : i**2, x))) #map function gives an iterator, so we typecast it to a list so that its converted into an iterable

[1, 4, 9, 16, 25]

In [ ]:
def new(a,b):
    return a*b
x=map(new, [1,2,3,4], [2,3,4,5])#calling a function using map function
print(x)
print(set(x))

<map object at 0x0000022B82455F48>
{2, 12, 20, 6}

In [ ]:
#squaring each element of the list
x=[1,2,3,4,5]
print([i ** 2 for i in x])#list comprehension(fastest way)

[1, 4, 9, 16, 25]

Python Filter Methods

1)Filter items out of a Sequence

2)Returns filtered List

definition : Creates an output List consisting of values for which the function returns True

Eg 
List, [m,n,p]------> [Filter]------> New List, [m,n]
Condition, c() if(m==condition)

In [ ]:
#Filtering nos greater than two(without filter() i.e normal method)
n=[4,3,2,1]
def over_two(list_1):
    list_2 = [x for x in n if x>2]
    return list_2
print(over_two(n))

[4, 3]

In [ ]:
#Filtering nos greater than two(with filter() method)
print(list(filter(lambda x: x>2,n)))

[4, 3]

MAP VS FILTER    

Example

(1)Map -> function() = adds 10 to a number

(2)Filter -> condition() = take in even nos and disregard the odd

x=[1,2,3,4,5] 

resultant(1) = [11,12,13,14,15]

resultant(2) = [2,4]

In [ ]:
print(list(map(lambda i: i +10, x)))#(1)

print(list(filter(lambda i: i%2==0, x)))#(2)

[11, 12, 13, 14, 15]
[2, 4]

In [ ]:
#Hands On
#add 15 to every element
#take out the odd numbers

a=[1,2,3,4,5,6,7,8]
print(list(map(lambda i : i+15,a)))
print(list(filter(lambda i : i%2!=0, a)))

[16, 17, 18, 19, 20, 21, 22, 23]
[1, 3, 5, 7]

In [ ]:
#multiply 2 to each element
x=[20,10,8,99,5]
print(list(map(lambda i: i*2,x)))

[40, 20, 16, 198, 10]

In [ ]:
#map function
#Make new fruits by sending two iterable objects into the function:
('apple','lemon','banana')
('orange','grapes','pineapple')
def fruits(a,b):
    return(a+b)
print(list(map(fruits, ('apple','lemon','banana'),('orange','grapes','pineapple'))))

['appleorange', 'lemongrapes', 'bananapineapple']

In [ ]:
#finding square
def sqr(n):
    return n**2
num=[5,10,15]
print(list(map(sqr,(num))))

[25, 100, 225]

In [ ]:
#adding two lists
a=[1,2,3,4]
b=[5,6,7,8]
print(list(map(lambda a,b : a+b, a,b)))

[6, 8, 10, 12]

Python Reduce Function

1) Applies same operations to Items of a sequence

2) Uses Resultof Operation as first parameter of next operation

3) Returns an Item, not a List

definition : Applies a given function to the iterables and returns a single value 
    
    Eg -
    List, [m,n,p] ------>[Reduce]------> f(f(m,n), p)
    Function, f()
    
Note : From python 3.0+, if you want to use 'reduce', you must use 'from functools import reduce'.

In [ ]:
#without using reduce
from functools import reduce
n=[4,3,2,1] 
def mult(list_1):
    prod=1
    for i in list_1:
        prod *=i
    return prod
print(mult(n))

24
24

In [ ]:
#using reduce
n=[4,3,2,1]
print(reduce(lambda x, y: x*y, n))

24

Explanation

In this question here, we have two arguments x and y. x, y are m,n in f(m,n). p is the next element in the list according to this question. So 4 and 3 (m and n in the formula f(f(m,n), p))) are multiplied first and we get 12 and then 2 (i.e p in the formula f(f(m,n), p)) is multiplied to 12 resulting in 24 and then 1 (i.e now p in the formula f(f(m,n), p)) is multiplied to 24 resulting in 24

i.e

n=[4,3,2,1]

4 * 3 =12

12 * 2 = 24

24 * 1 = 1

Filter vs Reduce

Filter gives a list as output. Reduce gives a single entity as output

In [ ]:
#Lambda as argument in other functions

#Here we are using lambda function in an already defined function, sort()
list_1 = [('eggs', 5.25),('honey', 9.78), ('carrots', 1.18), ('peaches', 2.45)]
list_1.sort()
print(list_1)
#here the list is sorted according to alphabetical order
list_1.sort(key=lambda x: x[1])#Sorting according to numbers ascending order. 
print(list_1)
list_1.sort(key=lambda x: x[1], reverse = True)#Sorting according to numbers descending order
print(list_1)
#key takes the details of where to sort it from. By default its x[0]. 
#Here x[0] means carrots,eggs,honey and peaches
#Here x[1] means 1.18, 5.25, 9.78, 2.45
# i.e key stores the details of the criteria in accordance to which we want the operation(here sorting) to be done.

[('carrots', 1.18), ('eggs', 5.25), ('honey', 9.78), ('peaches', 2.45)]
[('carrots', 1.18), ('peaches', 2.45), ('eggs', 5.25), ('honey', 9.78)]
[('honey', 9.78), ('eggs', 5.25), ('peaches', 2.45), ('carrots', 1.18)]

In [ ]:
#lambda conditions
#EXAMPLE 1
starts_with_R = lambda x : True if x.startswith('R') else False
#Here we are giving lambda function as a condition

print(starts_with_R('Rahul'))
print(starts_with_R('MeowMeow'))

True
False

EXTRA INFORMATION

Source : Tutorialspoint
    
Link : https://www.tutorialspoint.com/python3/string_startswith.htm#:~:text=Python%203%20-%20String%20startswith%20%28%29%20Method%201,usage%20of%20startswith%20%28%29%20method.%20More%20items...%20
        
        Python 3 - String startswith() Method

The startswith() method checks whether the string starts with str, optionally restricting the matching with the given indices start and end.

Syntax: str.startswith(str, beg = 0,end = len(string));

str − This is the string to be checked.

beg − This is the optional parameter to set start index of the matching boundary.

end − This is the optional parameter to set start index of the matching boundary.

Return value : This method returns true if found matching string otherwise false

In [ ]:
#Example for the above EXTRA INFORMATION i.e String startswith() Method
str = "this is string example....wow!!!"
print (str.startswith( 'this' ))
print (str.startswith( 'string', 8 ))
print (str.startswith( 'this', 2, 4 ))

True
True
False

In [ ]:
#lambda conditions
#EXAMPLE 2

sentence = 'Four score and Seven years ago'
wordb4 = lambda s, w: s.split()[s.split().index(w)-1] if w in s else None
print(wordb4(sentence, 'Seven'))#where sentence and 'Seven' are the two arguments

and

In [ ]:
#lambda conditions
#EXAMPLE 3

def do_something(f, val):
    return f(val)
func = lambda x : x ** 3
print(func(16))
print(do_something(func, 5))

4096
125

In [ ]:
#Extreme Lambdas
# Certain tasks are better done in a regular function, but this shows what's possible using / with Lambdas
isnum = lambda q: q.replace('.', '', 1).isdigit()#replacing '.' with ''. Number of times we are doing it is 1
print(isnum('25683'))
print(isnum('3.1415'))
print(isnum('T57'))
print(isnum('-16'))#we are getting false because of '-'. The following line handles this part

is_num = lambda r: isnum(r[1:]) if r[0] == '-' else isnum(r)#if 0th position is '-', it will start the execution from 1. Hence we get true 
print(is_num('-16.4'))

tonum = lambda s : float(s) if is_num(s) else -1# if it is a number, we are converting it to float
print(tonum('30y'))
print(tonum('-21.67'), type(tonum('-21.67')))#type is used to check the datatype

True
True
False
False
True
-1
-21.67 <class 'float'>

Zip Function in Python

1) Used to glue things together

2) Used in parallel iteration

3) Returns an Iterator of tuples

In [ ]:
#Eq
names = ['Rahul','Mike','Rony']
companies = ['HRC', 'Apple', 'Amazon']

zipped = zip(names, companies)
print(list(zipped))
print(list(zipped))
#note zipped here is an iterator

[('Rahul', 'HRC'), ('Mike', 'Apple'), ('Rony', 'Amazon')]
[]

In [ ]:
#Eq
names = ['Rahul','Mike','Rony']
companies = ['HRC', 'Apple', 'Amazon']

zipped = zip(names, companies)
print(tuple(zipped))

(('Rahul', 'HRC'), ('Mike', 'Apple'), ('Rony', 'Amazon'))

In [ ]:
#Eq
names = ['Rahul','Mike','Rony']
companies = ['HRC', 'Apple', 'Amazon']
zipped = zip(names, companies)
print(dict(zipped))

{'Rahul': 'HRC', 'Mike': 'Apple', 'Rony': 'Amazon'}

In [ ]:
#Same example if there is disparity in the number of elements, between the two lists
#Eq
names = ['Rahul','Mike']
companies = ['HRC', 'Apple', 'Amazon']

zipped = zip(names, companies)
print(list(zipped))

[('Rahul', 'HRC'), ('Mike', 'Apple')]

In [ ]:
names = ['Rahul','Mike','Rony']
companies = ['HRC', 'Apple', 'Amazon']

zipped = zip(names, companies)
#print(list(zipped))
#note zipped here is an iterator, so we can use it in a for loop
for x, y in zipped:
    print(f'{x} -> {y}')

Rahul -> HRC
Mike -> Apple
Rony -> Amazon

In [ ]:
#Now while using for loop, what happens if there is a disparity in the number of elements, between the two lists??
names = ['Rahul','Mike','Rony','Owen']
companies = ['HRC', 'Apple', 'Amazon']

zipped = zip(names, companies)
#print(list(zipped))
#note zipped here is an iterator, so we can use it in a for loop
for x, y in zipped:
    print(f'{x} -> {y}')

Rahul -> HRC
Mike -> Apple
Rony -> Amazon

In [ ]:
#Unzipping
names = ['Rahul','Mike','Rony']
companies = ['HRC', 'Apple', 'Amazon']

zipped = zip(names, companies)
#print(list(zipped))
print(list(zip(zipped))[0][0][0])

#mostly zips are used in socket programming

Rahul

In [ ]:
#Unzipping
names = ['Rahul','Mike','Rony']
companies = ['HRC', 'Apple', 'Amazon']

zipped = zip(names, companies)
#print(list(zipped))
print(list(zip(zipped))[0][0])

('Rahul', 'HRC')

In [ ]:
#Example 2
prices = [1000,2000,15000]
car_sizes = ['small','large','medium']
colours = ['red', 'blue']
print(list(zip(prices, car_sizes, colours)))

[(1000, 'small', 'red'), (2000, 'large', 'blue')]

Here, though there are three items in each list, only two are printed because one if the lists (colours) has only two items(disparity). Suppose if we want to get all the items in each list regardless of the parity in the number of items among each list, there is a provision for that too. See below

In [ ]:
from itertools import zip_longest 
prices = [1000,2000,15000]
car_sizes = ['small','large','medium']
colours = ['red', 'blue']
print(list(zip_longest(prices, car_sizes, colours)))

[(1000, 'small', 'red'), (2000, 'large', 'blue'), (15000, 'medium', None)]

Here, it shows 'None' for the missing value. We can also customize that part. See below

In [ ]:
from itertools import zip_longest 
prices = [1000,2000,15000]
car_sizes = ['small','large','medium']
colours = ['red', 'blue']
print(list(zip_longest(prices, car_sizes, colours,fillvalue= 'NA')))

[(1000, 'small', 'red'), (2000, 'large', 'blue'), (15000, 'medium', 'NA')]

In [ ]:
prices = [1000,2000,15000]
z=list(zip(prices))
print(z[0][0])

1000

# Day 8

In [ ]:
#returning multiple values in a function
def abc(x, y):
    return sum([x, y]), x-y,x*y
a, b, c = abc(5, 6)
z = abc(5, 6)
print(a, b, c)
print(z[1])

#refer DAY8 vscode folder

11 -1 30
-1

Modules

In [ ]:
import math
print(math.log(10))
#refer DAY8 vscode folder

2.302585092994046

In [ ]:
#Error handling
#Syntax Error

Syntax errors, also known as parsing errors, are perhaps the most common kind of complaint
you get while you are still learning python

while True print('Hello world')
    File "<stdin>", line

In [ ]:
#Exceptions

print(1/5)
print(2/5)
print(3/0)#Exception
print(4/5)
print(5/5)

0.2
0.4

ZeroDivisionError: division by zero

In [ ]:
try:
    print(1/5)
    print(2/5)
    print(3/0)#Exception
except:
    print("Division by zero!!!")
print(4/5)
print(5/5)

0.2
0.4
Division by zero!!!
0.8
1.0

In [ ]:
#Handling Exceptions
try:
    print(1/0)
except ZeroDivisionError, IndexError:
    print('Division by Zero!!!')

SyntaxError: invalid syntax (<ipython-input-17-2a0e6448ab0b>, line 4)

In [ ]:
while True:
    try:
        x=int(input("Enter a number : "))
    except ValueError:
        print('Oops that is not a valid number')

Enter a number : 12
Enter a number : a
Oops that is not a valid number

ValueError is not only applicable to numbers
,it depends on the type of input we give , but its widely used for numbers,
since input of any type can be taken as string, even hitting the enter key is a 
valid input in case of string datatype.See next cell

In [ ]:
while True:
    try:
        x=input("Enter a number : ")#we're taking input as string
    except ValueError:
        print('Oops that is not a valid number')

Enter a number :
Enter a number :
Enter a number : 123
Enter a number : abc
Enter a number : */

In [ ]:
#Whatever we put in finally gets executed no matter what
#assert is used to check for a particular value

In [ ]:
x=0
try:
    y=str(x)
except ValueError:
    print("Value Error")
except (TypeError, ZeroDivisionError):
    print("TypeError/ZeroDivisionError")
except:
    print("Anonymous")
else:
    print("No Error")
finally:
    print("End of program")

No Error
End of program

In [ ]:
x='INT'
try:
    y=int(x)
except ValueError:
    print("Value Error")
except (TypeError, ZeroDivisionError):
    print("TypeError/ZeroDivisionError")
except:
    print("Anonymous")
else:
    print("No Error")
finally:
    print("End of program")

Value Error
End of program

In [ ]:
x=0
try:
    y=1/x
except ValueError:
    print("Value Error")
except (TypeError, ZeroDivisionError):
    print("TypeError/ZeroDivisionError")
except:
    print("Anonymous")
else:
    print("No Error")
finally:
    print("End of program")

TypeError/ZeroDivisionError
End of program

In [ ]:
#Syntax error will always throwback. 
#Exceptions can be easily managed
x=0
try:
    y=
except ValueError:
    print("Value Error")
except (TypeError, ZeroDivisionError):
    print("TypeError/ZeroDivisionError")
except:
    print("Anonymous")
else:
    print("No Error")
finally:
    print("End of program")

SyntaxError: invalid syntax (<ipython-input-6-067b5e5d8095>, line 5)

In [ ]:
#Handling exceptions
try:
    a=int(input("Enter a Number : "))
    
    if a <=0:
        raise ValueError("That is not a Positive Number")
except ValueError as ve:
    print(ve)

Enter a Number : -1
That is not a Positive Number

In [ ]:
#raise is used for creating user defined exception management
#it works for cases with if condition

In [ ]:
try:
    print(1/0)#Control directly jumps to except from here.If there is a raise between this part and the except part, it gets skipped.
except ZeroDivisionError as ze:
    print(ze)

division by zero

In [ ]:
#Creating custom error message
x=0
try:
    if x==0:
        raise ZeroDivisionError('Division by Zero Error Detected!!!')
except ZeroDivisionError as ze:
    print(ze)

Division by Zero Error Detected!!!

WAP to calculate number of People who can fit in the vehicle which has the limit of 2000 Kilo Gram Consider the weight of driver 75 kg (MOST COMMON TYPE IN TECHNICAL ROUND for INTERVIEWS)

In [ ]:
sum=75
c=0
while 1:
    if sum < 1925:
        wt=int(input("Enter the weight "))
        sum=sum+wt
        print(sum)
        if sum<1925:
            c=c+1
    else:
        print("Maximum capacity reached")
        break
print(c)

Enter the weight 500
575
Enter the weight 1600
2175
Maximum capacity reached
1

In [ ]:
#mentor solution
#shortest method, follow this method
x=75
z=0
while (x<=2000):
    y=int(input("Enter the weight of the next passenger: "))
    x=x+y
    z=z+1
print("The total number of people the bus can bear: "+str(z))

Enter the weight of the next passenger: 500
Enter the weight of the next passenger: 1500
The total number of people the bus can bear: 2

Piglatin: different versions can be asked for the technical round

if the first letter of a given word is a vowel, add ay at the end
if the first letter is a consonant, replace the first letter to the end of the word, then add ay

In [ ]:
word=input("Enter the word ")
if word[0] is "aeiouAEIOU":
    print(word+'ay')

Enter the word easy

Similar interview Question

If alphabet is from first half of alphabet series
, add ay at the end, if its from the second half, add ey

In [ ]:

vowels=['a','e','i','o','u']#Add caps also
string=input("Enter your String")
if string[0] in vowels:
  print(string[0:]+"ay")
else:
  print(string[1:]+string[0]+"ay")

Enter your Stringeasy
easyay

In [ ]:
#or
def piglatin():
    vowels=('A','E','I','O','U','a','e','i','o','u')
    str=input("Enter your string : ")
    if str[0] in vowels:
        print(str+'ay')
    else:
        print(str[1:]+str[0]+'ay')
piglatin()

Enter your string : easy
easyay

In [ ]:
Complex syllable - omnitrix (3 syllables om ni trix) if there are 2 or more consonants

In [ ]:
#Primary aim in an interview is to solve the problem, then comes readability(easiness)

Spygame

if 007 is present in proper order in the input, the op should be true, else false

input : abcd0mn0xy7

Output : true
    
input : abc70xy0mn0
    
Output : false

In [ ]:
#stack is used
word=input("Enter The Word:")
spy=''
for i in word:
    if (i=='0' or i=='7'):
        spy+=i
if '007' in spy:
    print("True")
else:
    print("False")

Enter The Word:abcd0mn0xy7
True

In [ ]:
word=input("Enter The Word:")
str=''
for i in word:
    if (i=='0' or i=='7'):
        str+=i
if str=='007':
    print(True)
else:
    print(False)

In [ ]:
#In google's interview, you will be asked to write the code on the board not on a system

In [ ]:
c=input("Enter your number ")
count=0
for i in c:
  count+=1
  if "0" in i:
    for i in c[count-1:]:
      count+=1
      if "0" in i:
        count+=1
        for i in c[count-1:]:
          if "7" in i:
            print("yep its there")
print("nah i couldn't find it")

In [ ]:
print('Hi im Paul'+'\n'+'in cmrit')

Hi im Paul
in cmrit

In [ ]:
import sys
print(sys.version)

3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]

In [ ]:
x=[88, 12, 9, 8, 5, 3, 2, 1]
print(set(sorted(x)))

{1, 2, 3, 5, 8, 9, 12, 88}

In [ ]:
'-'.join('There can be only one.'.split())

'There-can-be-only-one.'

In [ ]:
b=[1,2,3,4]
b.append(4)
#print(b[-1])
#b=b[-1]+1

In [ ]:
b=b[-1]+1
print(b)

5

In [ ]:
amt = 1500
dn= 3
dur=dn/12
rt = 4.3
r=rt/100
n=4 #compounded monthly
Mat = amt*((1+ (r/n))**(n*dur))
print(round(Mat,2))

1516.12

In [ ]:
print("*"*6+"Fixed deposit Calculation"+"*"*6)
print(f"Deposit Amount           {amt} \nRate of Interest           {rt}\nDuration of deposit in months     {dn}\nTotal Interest Receivable     {round((Mat-amt),2)}\n TOTAL MATURITY AMOUNT        {round(Mat,2)}")

******Fixed deposit Calculation******
Deposit Amount           1500
Rate of Interest           4.3
Duration of deposit in months     3
Total Interest Receivable     16.12
 TOTAL MATURITY AMOUNT        1516.12

In [ ]:
mdep = 5000 #get_MonthlyDeposit()
dn= 12 #get_duration() #duration in months

rt = 7 #_get_rate() #rate of interest in decimal
r=rt/100
n=4 #compounded quarterly
I=(mdep*dn*(dn+1)*r)/2400
Mat=(mdep*dn)+I
print(round(I,2))
print(round(Mat,2))

22.75
60022.75

In [ ]:
mdep = 5000
dn= 12
dur=dn/12
rt = 8.25
r=rt/100
n=4 #compounded monthly
Mat = mdep*((1+ (r/n))**(n*dur))
print(round(Mat,2))

5425.44

In [ ]:
dn=12
i=1
sum=0
while dn!=0:
    dur=dn/12
    rt = 7
    r=rt/100
    n=4 #compounded monthly
    Mat = mdep*((1+ (r/n))**(n*dur))
    print(f"Month {i}  amount = {round(Mat,2)}")
    sum=sum+round(Mat,2)
    dn-=1
    i+=1
print(f"Total Maturity Amount : {round(sum,2)}")

Month 1  amount = 5359.3
Month 2  amount = 5328.39
Month 3  amount = 5297.67
Month 4  amount = 5267.12
Month 5  amount = 5236.75
Month 6  amount = 5206.55
Month 7  amount = 5176.53
Month 8  amount = 5146.68
Month 9  amount = 5117.01
Month 10  amount = 5087.5
Month 11  amount = 5058.16
Month 12  amount = 5029.0
Total Maturity Amount : 62310.66